.History{
    margin-top: -10rem;
    margin-left: 7rem;
    margin-bottom: 15rem;
    /* width:100%; */
    }

    /* .User{
        margin-top: -27rem;
        margin-left: 7rem;
        margin-bottom: 15rem;
        width:100%;
        } */