.error{
    text-align: center;
    font-size: 18px;
    color:red;
}
.paginationBrowse{
   
    position: absolute;
    bottom:10%;
    left: 38%;
    
  
  }

  .item-already{
      color:rgb(102, 107, 102);
      font-weight: bold;
      float:left;
  }